.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Css */

.game {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
  display: flex;
}

.help {
  color: #666;
  margin: 10px;
  text-align: center;
}

.left {
  text-align: center;
  width: 50%;
  border: thin solid #ddd;
}

.right {
  text-align: center;
  padding: 10px;
  width: 50%;
  border: thin solid #ddd;
}

@media all and (max-width:828px)
{
    .body
    {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .left, .right {
      width: 100%;
      padding: 10px 0;
      height: 195px;
    }
}

.star {
  display: inline-block;
  margin: 0 15px;
}

.star:after {
  content: '\01F7C6';
  font-size: 45px;
}

.btn {
  width: 100px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid lightgreen;
  padding: 5px;
}

.btn:hover {
  background-color: lightblue;
}

.number {
  background-color: #fff2b4;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 10px;
  font-size: 25px;
}

.number:focus,
.number:active {
  outline: none;
  border: thin solid #ddd;
}

.timer {
  color: #666;
  margin-top: 3px;
  margin-left: 3px;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 65px 0 0;
}
