@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

html {
  background: #162637;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Css */

.game {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Pixelify Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
  display: flex;
}

.help {
  color: #666;
  margin: 10px;
  text-align: center;
}

.left {
  text-align: center;
  width: 50%;
  border: thin solid #ddd;
  padding: 20px;
  border-top-left-radius: 30px;
}

.right {
  text-align: center;
  padding: 20px;
  width: 50%;
  border: thin solid #ddd;
  border-bottom-right-radius: 30px;
}

@media all and (max-width: 828px) {
  .body {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
  }

  .left,
  .right {
    width: 100%;
    padding: 10px 0;
    min-height: 195px;
  }
}

.star {
  display: inline-block;
  margin: 0 15px;
}

.star:after {
  content: "\2605";
  font-size: 45px;
  color: #d5d500;
}

.wonMessage {
  color: #fff;
  font-size: xx-large;
}

.btn {
  margin-top: 10px;
  width: 100px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
  background-color: #282c34;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #61dafb;
  padding: 5px;
}

.btn:hover {
  background-color: #add8e6;
  color: #162637;
  transition-delay: 1s ease;
}

.number {
  background-color: #8b8b8b;
  color: #fff;
  border: thin solid #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 10px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 39px;
}

.number:focus,
.number:active {
  outline: none;
  border: thin solid #ddd;
}

.timer {
  color: #666;
  margin-top: 3px;
  margin-left: 3px;
  font-size: xx-large;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 55px 0 0;
}
